
footer {
    background-color: #032a56; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
    position: fixed; /* Fija el footer al fondo de la página */
    inline-size: 100%;
    inset-block-end: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #ddd;
}
