/* Estilo específico para la página de login */
.login-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;  /* Asegura que el título y formulario estén uno debajo del otro */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Para que el contenido esté por encima del video */
  }
  
  /* Estilo para el video de fondo */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que el video cubra toda la pantalla */
    z-index: -1;  /* Asegura que el video esté detrás del contenido */
  }
  
  /* Estilo para el título "Veterinaria Patito" */
  .login-title {
    font-size: 36px;
    color: white;
    margin-bottom: 2rem;  /* Añade espacio entre el título y el formulario */
    z-index: 1;  /* Asegura que el título esté por encima del video */
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);  /* Fondo blanco semitransparente */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 1;  /* Asegura que el formulario esté por encima del video */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  label {
    text-align: left;
    width: 100%;  /* Esto asegura que los campos estén alineados a la izquierda */
    display: block;
  }
  
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    margin-top: 1rem;
    font-size: 14px;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  